.button
	padding 12px 10px
	display block
	width 100%
	color grey
	font-size 17px
	font-weight bold
	line-height 16px
	text-transform uppercase
	text-decoration none
	background-color #fff
	border 2px solid border-color-grey
	&:hover
		color #fff
		background-color border-color-grey
	&:active
		color alpha(#fff, .3)
	@media tablet-screen
		width 230px
