.button
	padding 12px 10px
	display block
	width 100%
	min-height 40px
	color grey
	font-size 17px
	font-weight bold
	line-height 18px
	text-align center
	text-transform uppercase
	text-decoration none
	background-color #fff
	border 2px solid border-color-grey
	&:hover
		color #fff
		background-color border-color-grey
	&:active
		color alpha(#fff, .3)
	@media tablet-screen
		min-width 230p
		min-height 52px
