font-size-body = 14px
font = 'Open Sans', Arial, sans-serif

font-color = #000
grey-light = rgba(0, 0, 0, .2)
grey = #444444
tiffany = #63d1bb
color-decorate = tiffany
icon-hover-color = tiffany
border-color-grey = grey

tablet-width = 'min-width: 670px'
tablet-screen = 'screen and ({tablet-width})'
desktop-width = 'min-width: 1050px'
desktop-screen = 'screen and ({desktop-width})'
