font-size-body = 14px
font = 'Open Sans', Arial, sans-serif
font-color = #000
icon-hover-color = #63d1bb

grey-light = rgba(0, 0, 0, .2)

tablet-width = 'min-width: 670px'
tablet-screen = 'screen and ({tablet-width})'
desktop-width = 'min-width: 1050px'
desktop-screen = 'screen and ({desktop-width})'
