extends /blocks/layout-default/layout-default
include /blocks/radio/radio.jade
include /blocks/checkbox/checkbox.jade
include /blocks/input/input.jade

block head
	- var pageTitle = 'Examples';

block content
	section
		h2 Примеры радио-кнопок
		+radio({"name": "accessory", "checked": true, "label": "Аксессуар для интерьера", "value": "accessory"})
		+radio({"name": "accessory", "checked": false, "label": "Детская игрушка", "value": "toy"})
	section
		h2 Примеры чекбоксов
		+checkbox({"name": "color", "label": "Белый", "value": "white", "checked": true})
		+checkbox({"name": "color", "label": "Серый", "value": "grey", "checked": false})
	section
		h2 Пример кнопки
		+button({"label": "Отправить заказ"})
	section
		h2 Пример поля ввода
		+input({"label": "Имя:", "type": "text", "name": "name", "placeholder": "Введите ваше имя", "required": true})
		+input({"label": "Фамилия:", "type": "text", "name": "surname", "placeholder": "Укажите фамилию", "required": true})
		+input({"type": "tel", "name": "phone", "placeholder": "+7 XXX XX XX", "required": true, "icon": "icon-phone", "pattern": "+7 [0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}"})
		+input({"type": "email", "name": "email", "placeholder": "Ваш Email", "required": true, "icon": "icon-mail"})
