.input
	position relative
	margin-bottom 20px
	display block
	&:last-child
		margin-bottom 0
	@media tablet-screen
		margin-bottom 36px
		display flex
	&__title
		margin-bottom 14px
		display block
		font-size 17px
		font-weight bold
		color font-color
		@media tablet-screen
			padding-right 25px
			font-size 19px
	&__body
		margin 0
		padding 0 0 15px
		width 100%
		height 40px
		border none
		border-bottom 2px solid #000
		outline none
		&:focus
			color font-grey
			border none
			outline none
		&:active
			border none
			outline none
		&::placeholder
			font-size 17px
			color alpha(font-color, .3)
		&:hover
			border-bottom 2px solid icon-hover-color
		@media tablet-screen
			padding-left 15px
			&::placeholder
				font-size 19px

	&__icon
		position absolute
		top 0
		right 5px
		width 30px
		fill alpha(#000, .2)

	&:hover &__icon
		fill color-decorate

	&__body:focus ~ &__icon
		fill color-decorate
